/**
scaffolding.css
----
Use this to import Tailwind base and utility helpers, then basic setup;
**/

@tailwind base;
@tailwind utilities;

html {
  font-size: calc(100vw / 740 * 10);
  @apply font-sans;

  @screen sm {
    font-size: calc(100vw / 1920 * 10);
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
